[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = ">=2.28"
beautifulsoup4 = ">=4.12"
python-dotenv = ">=1.0"
pydantic = ">=2.0"
pydantic-settings = ">=2.0"
rich = ">=13.3.3"
amadeus = ">=5.3.0"
openai = ">=0.27.0"
langgraph = ">=0.0.1"
truststore = "*"

[dev-packages]

[requires]
python_version = "3.14"
